.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px; /* makes the imgs do not crop */

  /* the two overflow properties makes an horizontal scroll bar appears*/
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain; /* this will keep the aspect ratio */
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  /*  makes the image grow a little bit when mouse hover them    */
  transform: scale(1.08);
  opacity: 1;
}

/* we have a giant column and we need to turn it into a row */
